.container
  .row
    = link_to 'Go back to regions', calendar_region_configs_path, class: 'btn btn-primary btn-md'

  .row
    %h2.text-center= region.region

    .row
      %h3 Waste Disposal Zones

      %table.table.table-hover
        %thead
          %th Name
          %th Actions

        %tbody
          - waste_disposal_zones.sort_by(&:name).each do |zone|
            %tr
              %td= zone.name
              %td
                = link_to calendar_region_config_waste_disposal_zone_waste_pickups_path(region, zone), method: :get, class: 'btn btn-sm btn-success' do
                  .glyphicon.glyphicon-calendar
