.form-wrapper
  = form_for code_cover, multipart: true do |f|

    = f.hidden_field :region_config_id
    .row
      .col-md-12
        .form-group
          = label_tag 'calendar_postal_code_cover[codes_file]', 'FSA Codes'
          = code_cover.codes.to_sentence if code_cover.codes
          %br
          = file_field_tag 'calendar_postal_code_cover[codes_file]'
    %hr
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control"
    .row
      .col-md-5.col-md-offset-2
        %h4 Main page
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :front
          = CALENDAR_IMAGE_SIZE[:front]
          = f.file_field :front
          = image_tag code_cover.front.url :thumb if code_cover.front.url
      .col-md-4
        .form-group
          = f.label :fr_front
          = CALENDAR_IMAGE_SIZE[:fr_front]
          = f.file_field :fr_front
          = image_tag code_cover.fr_front.url :thumb if code_cover.fr_front.url
    .row
      .col-md-6.col-md-offset-3
        .form-group
          = f.submit "Save", class: "btn btn-block btn-lg btn-primary"
