%h2.text-center
  %i Canada Post dashboard
.container
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Current month weekly stat
        .panel-body
          = line_chart [{name: 'Generated',data: calendars_weekly_current_month}, {name: 'Errors', data: errors_weekly_current_month}], download: "weekly_stat_from_#{Date::MONTHNAMES[Time.now.month].downcase}"
          %h6
            %b This month sumarize
            = "Generated: #{calendars_weekly_current_month.values.sum}"
            = "Errors: #{errors_weekly_current_month.values.sum}"
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Reports
        .panel-body
          .row
            .btn.btn-primary.btn-md.upload-file-expand-button
              Upload File
            .upload-file-expand-area
              .well
                - if available
                  .form-wrapper
                    =form_tag upload_movers_path, multipart: true do |f|
                      .form-group
                        = label_tag :file
                        = file_field_tag :file
                      .form-group
                        = label_tag :headless_chrome
                        = check_box_tag :headless_chrome
                      .form-group
                        = submit_tag 'Upload', class: 'btn btn-block btn-lg btn-primary'

                - else
                  %h2.text-center Some of Region Config is invalid. Repair it before uploading file.
          %hr
          .row
            %h4.text-center
              Last 5 completed reports
            %table.table.table-hover
              %thead
                %tr
                  %th Date
                  %th File name
                  %th Calendars
                  %th
              %tbody
                - reports.each do |report|
                  %tr
                    %td= report.date
                    %td= report.file_name
                    %td= report.calendars.count
                    %td
                      - if report.calendars.present?
                        = link_to calendars_index_path(report.id), class: 'btn btn-primary btn-sm' do
                          .glyphicon.glyphicon-list
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Monthly overtime stat
        .panel-body
          = line_chart [{name: 'Generated',data: calendars_monthly_overtime}, {name: 'Errors', data: errors_monthly_overtime}], download: 'monthly_overall_stat'
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Calendars Stat
        .panel-body
          = line_chart calendars, download: 'daily_generated_calendars'
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Overall
        .panel-body
          = pie_chart({'generated' => calendars_monthly_overtime.values.sum, 'errors' => errors_monthly_overtime.values.sum })
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title.text-center Sumarize
        .panel-body.text-center
          %div= "Uploaded files: #{total_files}"
          %div= "Total calendars: #{calendars_monthly_overtime.values.sum}"
          %div= "Total errors: #{errors_monthly_overtime.values.sum}"
          %div= "Total people: #{parsed_count}"

:javascript
  upload_movers_file();
