.container
  .col-md-6.col-md-offset-3
    %table.table.table-hover
      %thead
        %th Name
        %th Filtered words
        %th
      %tbody
        - filters.each do |c_filter|
          %tr
            = form_for c_filter do |f|
              %td
                = c_filter.category.humanize
              %td
                = f.text_area :words, value: c_filter.words.join(', ')
              %td
                = f.submit 'Update', class: "btn btn-block btn-md btn-primary"
