.text-center
  %h1= Date::MONTHNAMES[month.month_number]

.form-wrapper
  .container-fluid
    = form_for month, multipart: true do |f|
      .form-group
        = f.label :advertiser_id
        = f.select :advertiser_id, options_from_collection_for_select(advertisers, 'id', 'name', month.advertiser_id)
      .form-group
        = f.submit "Save", class: "btn btn-block btn-lg btn-primary", tabindex: 1
