.container
  .col-md-6.col-md-offset-3
    .row.pull-right
      = link_to new_calendar_advertiser_path, class: 'btn btn-md btn-primary' do
        .glyphicon.glyphicon-plus
        Advertiser
    %table.table.table-hover
      %thead
        %th Name
        %th Actions
      %tbody
        - advertisers.each do |advertiser|
          %tr
            %td
              = advertiser.name
            %td
              = link_to calendar_advertiser_advertiser_events_path(advertiser), class: 'btn btn-sm btn-primary' do
                Manage Events
              = link_to edit_calendar_advertiser_path(advertiser), class: 'btn btn-sm btn-warning' do
                .glyphicon.glyphicon-pencil
              = link_to calendar_advertiser_path(advertiser), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do
                .glyphicon.glyphicon-remove
