= render 'sections/page_title', body_title: 'Manage admins', body_subtitle: 'This is the place where you can manage admins in the system'
.container
  .pull-right
    = link_to 'Invite new admin +', invite_admin_path, class:'btn btn-lg btn-primary'
  %table.table.table-striped
    %thead
      %tr
        %th Email
        %th.pull-right Options
    %tbody
      - admins.each do |admin|
        %tr
          %td
            =admin.email
          %td.pull-right
            = link_to "Reset password", reset_password_path(admin.id), method: :post
            |
            = link_to "Remove", remove_admin_path(admin.id), method: :delete, data: { confirm: 'Are you sure?' }
