= render 'sections/page_title', body_title: 'One step ahead', body_subtitle: 'You have been invited to the canada post system. Please type pasword that you want to use (6 characters minimum)'
.form-wrapper
  .container-fluid
    = form_for admin, url: create_admin_path do |f|
      = hidden_field_tag :token, params[:token]
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control", disabled: true
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: "form-control", tabindex: 1
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", tabindex: 1
      .form-group
        = f.submit "Register", class: "btn btn-block btn-lg btn-primary", tabindex: 1
