var page = require('webpage').create();
page.paperSize = { width: '3750px', height: '5550px' };
page.settings.userAgent = 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0'

page.open("<%= PHANTOMJS_BASE_URL %>/phantom_calendar/<%= report_id %>?<%= mover %>&region_id=<%= region_id%>", function(status) {
  if (status !== 'success') {
        console.log('Unable to load the address!');
        phantom.exit(1);
    } else {
        window.setInterval(function () {
            var windowStatus = page.evaluate(function () {
                return window.status;
            });
            if (windowStatus == 'map-ready') {
              page.render(".<%= file_path %>");
              phantom.exit();
            }
            if (windowStatus == 'location-invalid') {
              console.log('location-invalid');
              phantom.exit(1);
            }
        }, 2000); // Change timeout as required to allow sufficient time
    }
});
