- calendar_pages = {}
-# It has to be opposite due to later pages generation
- calendar_pages[1] = capture_haml do
  .half-page
    = render "calendar/2016/front_page_1", image: PdfHelper.translate_field(region.cover_page_for(mover.postal_code.first(3)), "front", mover.french?)
- calendar_pages[32] = capture_haml do
  .half-page
    = render "calendar/2016/last_page", image: PdfHelper.translate_field(region, "last_page", mover.french?), mover: mover,
      barcode: Barcode.create(1, mover.record_id).to_html, region: region

- calendar_pages[2] = capture_haml do
  .half-page
    = render "calendar/2016/front_page_2", zones: mover.zones, signature: region.signature, left_image: PdfHelper.translate_field(region, "front_left", mover.french?),
      full_name: "#{mover.first_name} #{mover.last_name}", waste_pickup_url: (mover.waste_pickup_url || region.waste_pickup_url), multiunit: mover.multi_unit_building, city: mover.city.upcase.titleize, date: PdfHelper.translate_date(mover.anniversary_date, locale)
- calendar_pages[3] = capture_haml do
  .half-page
    = render "calendar/2016/map_1", address: mover.address_line_1

- calendar_pages[4] = capture_haml do
  .half-page
    = render "calendar/2016/map_2", address: mover.address_line_1, image: PdfHelper.translate_field(region, "neighbourhood", mover.french?)
- calendar_pages[5] = capture_haml do
  .half-page
    = render "calendar/2016/map_3", address: mover.address_line_1

- current_year_events = PdfHelper.year_scope_for(events, mover.start_date.year)
- month_index = 0
- region.months.this_year_months_from(mover.start_date).order('month_number').each_with_index do |month, index|
  - month_index = index
  - calendar_pages[6 + (index*2)] = capture_haml do
    .half-page.no-spaces
      = render "calendar/2016/calendar_page_top", image: PdfHelper.translate_field(month.advertiser, "cover_advert", mover.french?)
  - calendar_pages[7 + (index*2)] = capture_haml do
    .half-page
      = render "calendar/2016/calendar_page_bottom", french: mover.french?, year: mover.start_date.year, month: month.month_number, advertiser: month.advertiser,
        year: mover.start_date.year, events: PdfHelper.month_scope_for(current_year_events, month.month_number), mover_location: mover.location


- next_year_events = PdfHelper.year_scope_for(events, mover.start_date.year + 1)
- region.months.next_year_months_from(mover.start_date).order('month_number').each_with_index do |month, index|
  - month_index += 1
  - last_number = calendar_pages.keys.last
  - calendar_pages[6 + (month_index*2)] = capture_haml do
    .half-page.no-spaces
      = render "calendar/2016/calendar_page_top", image: PdfHelper.translate_field(month.advertiser, 'cover_advert', mover.french?)
  - calendar_pages[7 + (month_index*2)] = capture_haml do
    .half-page
      = render "calendar/2016/calendar_page_bottom", year: mover.start_date.year + 1, french: mover.french?, month: month.month_number, advertiser: month.advertiser, year: mover.start_date.year + 1,
        events: PdfHelper.month_scope_for(next_year_events, month.month_number), mover_location: mover.location

-# // 13th month which is same as the first
- month = region.months.this_year_months_from(mover.start_date).order('month_number').first
- calendar_pages[30] = capture_haml do
  .half-page.no-spaces
    = render "calendar/2016/calendar_page_top", image: PdfHelper.translate_field(region, "anniversary", mover.french?)
- calendar_pages[31] = capture_haml do
  .half-page
    = render "calendar/2016/calendar_page_bottom", year: mover.start_date.year + 1, french: mover.french?, month: month.month_number, advertiser: month.advertiser,
      events: PdfHelper.month_scope_for(next_year_events, month.month_number),
      anniversary_month: true, mover_location: mover.location

- @mover = mover.to_json
- @advertisersArray = region.advert_map_locations(mover).to_json
- @filters = Calendar::CategoryFilter.all.map {|c_filter| {"#{c_filter.category}": c_filter.words}}.inject(:merge).to_json
- @nearest_post = Calendar::Location.nearest_post(mover.location).to_json
- @pois = Calendar::Location.nearest_pois(region, mover.location).to_json
- @small_pois = Calendar::Location.nearest_small_pois(region, mover.location).to_json

- (1..16).each do |number|
  .page
    .page-barcode= raw Barcode.create(number, mover.record_id).to_html if number.odd?
    = render 'calendar/2016/crop_lines'
    .content{class: "#{number.even? ? 'upside-down' : ''}"}
      - if number.even?
        = calendar_pages[number]
        = calendar_pages[33 - number]
      - else
        = calendar_pages[33 - number]
        = calendar_pages[number]

:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
  var PHANTOMJS_BASE_URL = "#{PHANTOMJS_BASE_URL}"
  if("#{@headless_chrome}" == true){
    new DrawMaps(#{[@pois, mover.location, @small_pois]}, #{@advertisersArray}, #{@nearest_post}, '#{PdfHelper.js_language(locale)}').call()
    .then(function(places) { return new DisplayInfo(places).call() })
    .catch(function(e){
      console.log(e)
      window.status = "location-invalid"
    })
  } else {
    new DrawMaps(#{[@pois, mover.location, @small_pois]}, #{@advertisersArray}, #{@nearest_post}, '#{PdfHelper.js_language(locale)}').call()
    .then(function(places) { return new DisplayInfo(places).call() })
    .then(function(){
      setTimeout(function(){
        $('#civicMapContainer .leaflet-tile-loaded, #advertMapContainer .leaflet-tile-loaded').each(function(){
          var matrix = $(this).css('transform').split(',');
          var posX = parseInt(matrix[4]);
          var posY = parseInt(matrix[5]);
          $(this).css({
            top: posY,
            left: posX,
            transform: 'none'
          });
          $('.leaflet-tile-container').css({position: 'absolute'})
        });
        $('#civicMapContainer *:not(.leaflet-marker-icon)').css('transform', 'none');
        $('#advertMapContainer *:not(.leaflet-marker-icon)').css('transform', 'none');

        setTimeout(function(){window.status = 'map-ready'})
      }, 3000)
    })
    .catch(function(e){
      console.log(e)
      window.status = "location-invalid"
    })
  }
