- first_day = Date.new(year, month, 1).wday
- last_day = Date.new(year, month, 1).end_of_month.day
- iterator = 1
- extra_days = 0

.month
  .name
    = t("calendar.months.#{Date::MONTHNAMES[month].downcase}")
    = year

.month-grid
  - Date::DAYNAMES.each do |day|
    .day-name
      = t("calendar.week_days.#{day.downcase}")

  // FIRST WEEEK
  - if first_day > 0
    -(first_day).times do
      .day
    -(7 - first_day).times do
      = render 'calendar/2016/day', day_number: iterator, extra_day: nil, events: PdfHelper.day_scope_for(events, iterator), french: french
      - iterator += 1
  - else
    -(7).times do
      = render 'calendar/2016/day', day_number: iterator, extra_day: nil, events: PdfHelper.day_scope_for(events, iterator), french: french
      - iterator += 1

  // MIDDLE WEEKS
  -3.times do
    -(7).times do
      = render 'calendar/2016/day', day_number: iterator, extra_day: nil, events: PdfHelper.day_scope_for(events, iterator), french: french
      - iterator += 1

  // LAST WEEK
  - extra_days = last_day - (iterator - 1) - 7
  -(7).times do
    - if iterator <= last_day
      - if extra_days > 0
        - extra = last_day - extra_days + 1
        - extra_days -= 1
        = render 'calendar/2016/day', day_number: iterator, extra_day: extra, events: PdfHelper.day_scope_for(events, iterator) + PdfHelper.day_scope_for(events, extra), french: french
      - else
        = render 'calendar/2016/day', day_number: iterator, extra_day: nil, events: PdfHelper.day_scope_for(events, iterator), french: french
      - iterator += 1
    - else
      .day

- if defined?(anniversary_month)
  .month-bottom-advert-left
    - if french
      = image_tag '/calendar/images/anniversary_left_fr.png'
    - else
      = image_tag '/calendar/images/anniversary_left.png'
- else
  = render 'calendar/2016/small_advert', advertiser: advertiser, french: french, mover_location: mover_location, month: month
.month-bottom-advert-right
  - if advertiser.right_advert.present?
    = image_tag advertiser.right_advert
  - else
  - if locale == :fr
    = image_tag '/calendar/images/notes_fr.png', class: 'right-notes'
  - else
    = image_tag '/calendar/images/notes.png', class: 'right-notes'
.bottom-bar
