.crop-line.vertical-middle-left
.crop-line.vertical-middle-right

.crop-line.vertical-top-left
.crop-line.horizontal-top-left

.crop-line.vertical-top-right
.crop-line.horizontal-top-right

.crop-line.vertical-bottom-left
.crop-line.horizontal-bottom-left

.crop-line.vertical-bottom-right
.crop-line.horizontal-bottom-right
