.day
  .number
    = day_number
    - if extra_day
      \/
      = extra_day
    - events.select{|ev| ev.type != 'waste' }.uniq(&:name).each do |event|
      - case event.type
      - when 'advertiser_event'
        .advertiser-event{style: "color: #{event.color};"}
          = PdfHelper.translate_field(event, "name", french).html_safe
        .advertiser-event-line{style: "background-color: #{event.color};"}
      - when 'holiday'
        .holiday
          = PdfHelper.translate_field(event, "name", french)
        .holiday-line
      - when 'anniversary_moving_date'
        .anniversary
          - if french
            = image_tag '/calendar/images/fr_anniversary.png'
          - else
            = image_tag '/calendar/images/anniversary.png'
      - when 'moving_date'
        .moving-date
          - if french
            = image_tag '/calendar/images/fr_moving_day.png'
          - else
            = image_tag '/calendar/images/moving_day.png'
    .garbage-icons
      - events.select{|ev| ev.type == 'waste' }.uniq(&:name).each do |event|
        .icon{class: "#{event.name}"}
