.front-left-advert-container
  = image_tag left_image, class: 'front-left-advert'
.front-text-container
  - if locale == :fr
    = image_tag '/assets/canada-post_fr.png', class: 'canada-post-logo'
  - else
    = image_tag '/assets/canada-post.svg', class: 'canada-post-logo'
  %div
    %p
    %p
      = t('calendar.letter_page.hello')
      - if locale == :en
        = "#{full_name.titleize},"
    %p= t('calendar.letter_page.first_paragraph', city: city)
    - multi_level = (multiunit == "Y" || zones.map { |zone| zone.waste_pickups.count }.sum == 0)
    - if multi_level
      %p= t('calendar.letter_page.second_paragraph_without_garbage')
    - else
      %p= t('calendar.letter_page.second_paragraph_with_garbage')
    %p= t('calendar.letter_page.third_paragraph', date:  date).html_safe

    %p.sincerely= "#{t('calendar.letter_page.sincerely')},"
  %div
    = image_tag signature, class: 'front-text-signature'
  %div
    %div Janet Brearton
    %div= t('calendar.letter_page.person_position')
    %div= t('calendar.letter_page.canada_post')
  .small-disclaimer
    - unless multi_level
      %p.garbage_info
        *
        = t('calendar.letter_page.garbage_info', site_url: waste_pickup_url)
      %br
    %br
      = t('calendar.letter_page.disclaimer', year: Time.zone.now.year).html_safe
