.last-page.address
  %div
    = mover.first_name
    = mover.last_name
  %div
    = mover.address_line_2
    = mover.address_line_1
  %div
    = "#{mover.city} #{mover.province}"
    &nbsp;
    = "#{mover.postal_code}"
.stamp
  = image_tag PdfHelper.translate_field(region, 'stamp', locale == :fr)
.last_page_barcode
  = raw barcode
.bagbun-dmc
  != mover.list_order + "&nbsp;" + mover.bagbun + " " + mover.dmc
.last_page_kit_id
  = mover.kit_no
= image_tag image, class: 'whole_page'
