.civic-description
  .civic-header
    = t('calendar.map.civic.header')
  .civic-text
    %ol.civic-item
    #civic-legend
  .civic-legend-container
    .icon-box.widther
      .icon.hospital-color
      .label= t('calendar.map.civic.hospital')
    .icon-box
      .icon.park-color
      .label= t('calendar.map.civic.park')
    .icon-box.narrower
      .icon.school-color
      .label= t('calendar.map.civic.school')
    .icon-box-row
      .icon-box.widther
        .icon= image_tag CivicIcons.icon_path('libraries')
        .label= t('calendar.map.civic.library')
      .icon-box
        .icon= image_tag CivicIcons.icon_path('recreation_centres')
        .label= t('calendar.map.civic.recreation_centre')

#civicMapContainer
.civic-map-disclaimer
  = t('calendar.map.civic.disclaimer')
.civic-map-extra-disclaimer
  = t('calendar.map.civic.extra-disclaimer')
.bottom-bar
