.neighbours-image
  = image_tag image
.advert-title
  = t('calendar.map.advertiser.header')
.advert-text
  %ol.advert-column
    .column-1
    .column-2
    .column-3
    .column-4
.advert-blank-space
.pins-disclaimer= t('calendar.map.advertiser.pins_disclaimer').html_safe
