- if advertiser.tiny_map
  - location = advertiser.nearest_locs(mover_location, true).first
  .month-bottom-advert-left-map
    = render 'calendar/2016/tiny_map', location: location, logo: advertiser.logo, month: month, french: french
- else
  .month-bottom-advert-left
    -case advertiser.grid
      -when '1:1:1'
        .grid.one_one_one
          - if advertiser.tiny_address
            = render 'calendar/2016/tiny_address', mover_location: mover_location, advertiser: advertiser
          - else
            = image_tag PdfHelper.translate_field(advertiser, "left_advert_1", french)
        .grid.one_one_one
          = image_tag PdfHelper.translate_field(advertiser, "left_advert_2", french)
        .grid.one_one_one
          = image_tag PdfHelper.translate_field(advertiser, "left_advert_3", french)
      -when 'whole_page'
        = image_tag PdfHelper.translate_field(advertiser, "left_advert_1", french)
      -when '1:2'
        .grid.one_two.one
          - if advertiser.tiny_address
            = render 'calendar/2016/tiny_address', mover_location: mover_location, advertiser: advertiser
          - else
            = image_tag PdfHelper.translate_field(advertiser, "left_advert_1", french)
        .grid.one_two.two
          = image_tag PdfHelper.translate_field(advertiser, "left_advert_2", french)
      -when '2:1'
        .grid.one_two.two
          - if advertiser.tiny_address
            = render 'calendar/2016/tiny_address', mover_location: mover_location, advertiser: advertiser
          - else
            = image_tag PdfHelper.translate_field(advertiser, "left_advert_1", french)
        .grid.one_two.one
          = image_tag PdfHelper.translate_field(advertiser, "left_advert_2", french)

:javascript
  var PHANTOMJS_BASE_URL = "#{PHANTOMJS_BASE_URL}"
