- location = advertiser.nearest_locs(mover_location, true).first
.tiny-address
  .logo
    = image_tag advertiser.tiny_address_logo
  .description
    - if location
      = location.street_address
      %br
      = location.city
      = location.province
      &nbsp;
      = location.postal_code
      %br
      = location.phone
