- if location
  .tiny-map
    .desc-cell
      .top-cell
        = image_tag logo
      .bottom-cell
        .cell
          = location.street_address
          %br
          = location.city
          = location.province
          &nbsp;
          = location.postal_code
          %br
          = location.phone
        .cell.right
          = PdfHelper.translate_field(location, :opening_hours_first_line, french)
          %br
          = PdfHelper.translate_field(location, :opening_hours_second_line, french)
          %br
          = PdfHelper.translate_field(location, :opening_hours_third_line, french)
          - if location.opening_hours_fourth_line
            %br
            = PdfHelper.translate_field(location, :opening_hours_fourth_line, french)
          %br
          .url= location.website
    .map-cell
      %span.map-container{id: "tiny-map-#{month}"}

:javascript
  var PHANTOMJS_BASE_URL = "#{PHANTOMJS_BASE_URL}"
  if("#{@headless_chrome}"){
    #{"DrawTinyMapChrome( #{[location.latitude, location.longitude]}, 'tiny-map-#{month}', '#{PdfHelper.js_language(locale)}' )" if location }
  } else {
    #{"DrawTinyMapPhantom( #{[location.latitude, location.longitude]}, 'tiny-map-#{month}', '#{PdfHelper.js_language(locale)}' )" if location }
  }
