.alert-wrapper
  - if flash[:success] || flash[:notice]
    .alert.alert-success.alert-dismissible
      .container
        = flash[:success] || flash[:notice]
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span ×
  - elsif flash[:danger] || flash[:alert]
    .alert.alert-danger
      .container
        = flash[:danger] || flash[:alert]
