%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target': '#navbar-collapse-1', 'data-toggle': 'collapse', type: 'button'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Canada Post', current_admin ? root_path : new_admin_session_path, class: 'navbar-brand'
    #navbar-collapse-1.navbar-collapse.collapse
      -if current_admin
        %ul.nav.navbar-nav
          %li{class: "#{'active' if current_page? movers_reports_path}"}
            = link_to "Movers Reports", movers_reports_path
          %li{class: "#{'active' if current_page? calendar_advertisers_path}"}
            = link_to "Advertisers", calendar_advertisers_path
          %li{class: "#{'active' if current_page? calendar_region_configs_path}"}
            = link_to "Regions Configs", calendar_region_configs_path
          %li{class: "#{'active' if current_page? admin_list_path}"}
            = link_to "Manage admins", admin_list_path
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign out", destroy_admin_session_path, method: :delete
