.form-wrapper
  .container-fluid
    = form_for event, url: path, method: method do |f|
      .row
        .form-group
          .col-md-6
            = f.label :name
            = f.text_field :name, class: "form-control"
          .col-md-6
            = f.label :fr_name
            = f.text_field :fr_name, class: "form-control"
      .row
        .form-group
          .col-md-6
            = f.label :start_date
            = f.text_field :start_date, class: "form-control datepicker"
          .col-md-6
            = f.label :end_date
            = f.text_field :end_date, class: "form-control datepicker"
      .row
        .form-group
          .col-md-12
            = f.label :color
          .col-md-6
            = f.select :color, Calendar::AdvertiserEvent.allowed_colors_mapping
          .col-md-4
            .preview{style: "width: 100px; height: 50px; color: #fff; text-align: center; background: #{event.color || Calendar::AdvertiserEvent::ALLOWED_COLORS.first}"}
      .row
        .form-group
          .col-md-6.col-md-offset-3
            = f.submit "Save", class: "btn btn-block btn-lg btn-primary button-margin"


:javascript
  $(document).ready(function() {
    $('#calendar_advertiser_event_color').simplecolorpicker();

    $('#calendar_advertiser_event_color').change(function(event, params) {
      $('.preview')[0].style.background = $('#calendar_advertiser_event_color').val();
    });
  });
