.container
  %h4.text-center= advertiser.name
  .col-md-6.col-md-offset-3
    .row.pull-right
      = link_to  new_calendar_advertiser_advertiser_event_path, class: 'btn btn-md btn-primary' do
        .glyphicon.glyphicon-plus
        Event
    %table.table.table-hover
      %thead
        %th Name
        %th Actions
      %tbody
        - events.each do |event|
          %tr
            %td= event.name
            %td
              = link_to edit_calendar_advertiser_advertiser_event_path(params[:advertiser_id], event), class: 'btn btn-sm btn-warning' do
                .glyphicon.glyphicon-pencil
              = link_to calendar_advertiser_advertiser_event_path(params[:advertiser_id], event), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do
                .glyphicon.glyphicon-remove
