=render 'sections/page_title', body_title: 'Forgot your password?', body_subtitle: nil
.form-wrapper
  .container-fluid
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      =f.hidden_field :remember_me, value: true
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control", tabindex: 1
      .form-group
        = f.submit "Send me reset password instructions", class: "btn btn-block btn-lg btn-primary", tabindex: 1
