=render 'sections/page_title', body_title: 'Invite an admin', body_subtitle: 'Type in email of the admin you want to invite'
.container
  .form-wrapper
    =form_for admin, url: send_admin_invitation_path do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', tabindex: 1
      .form-group
        = f.submit 'Send an invitation email', class: 'btn btn-block btn-lg btn-primary', tabindex: 1
