.day
  - unless pattern
    .number= day_number

  .garbage-icons
    - zone_waste_types.each do |type|
      = waste_check_box(form, type, day_number, pattern, week)
      = waste_label(type, day_number, pattern, week)
