.container
  .row
    = link_to 'Go back to zones', calendar_region_config_waste_disposal_zones_path(region), class: 'btn btn-primary btn-md'

  .row
    %h2.text-center= "#{region.region} - #{zone.name}"
    %h2.text-center= zone.waste_types.to_sentence
  .row
    %h3
      Waste pickups
      - unless available
        %br
        = t('errors.region.calendars_generating')

  .row.well
    %h4 Week pattern

    = form_for zone, url: save_week_pattern_calendar_region_config_waste_disposal_zone_waste_pickups_path(region, zone), method: :post do |form|
      .row
        .col-md-4.col-md-offset-2
          = form.label :date_from
          = form.date_field :date_from, class: 'form-control'
        .col-md-4
          = form.label :date_to
          = form.date_field :date_to, class: 'form-control'

      .row
        - Date::DAYNAMES.each do |day_name|
          .day-name= day_name

      .row
        - 7.times do |day_number|
          = form.fields_for "waste_pickups_week_1[#{day_number}]", waste_pickups.build do |waste_pickup_form|
            = render 'calendar/waste_pickups/day', form: waste_pickup_form, day_number: day_number, zone_waste_types: zone.waste_types, week: 1, pattern: true

      .row
        - 7.times do |day_number|
          = form.fields_for "waste_pickups_week_2[#{day_number}]", waste_pickups.build do |waste_pickup_form|
            = render 'calendar/waste_pickups/day', form: waste_pickup_form, day_number: day_number, zone_waste_types: zone.waste_types, week: 2, pattern: true

      .row
        - if available
          = form.submit "Save for all months in date range", class: 'btn btn-md btn-primary', data: { confirm: 'Are you sure, you want to override current schedule?' }

  .row.well
    %h4
      Month pattern for
      = Date::MONTHNAMES[month]
      .month-selector
        = form_tag calendar_region_config_waste_disposal_zone_waste_pickups_path(region, zone), method: :get do
          = text_field_tag :month_year, "#{month}/#{year}", id: 'month_picker'
          = submit_tag 'Go', class: 'btn btn-sm btn-default'

    = form_for zone, url: save_calendar_region_config_waste_disposal_zone_waste_pickups_path(region, zone), method: :post do |form|
      = form.hidden_field :year, value: year
      = form.hidden_field :month, value: month

      .row
        - Date::DAYNAMES.each do |day_name|
          .day-name= day_name

      .row
        - Date.new(year, month, 1).wday.times do
          .day

        - first_of_month = Date.new(year, month, 1)
        - (first_of_month..first_of_month.end_of_month).each do |day|
          = form.fields_for "waste_pickups[#{day.mday}]", (waste_pickups.find_date(day).first || waste_pickups.build) do |waste_pickup_form|
            = render 'calendar/waste_pickups/day', form: waste_pickup_form, day_number: day.mday, zone_waste_types: zone.waste_types, week: "", pattern: false

      .row
        - if available
          = form.submit 'Save', class: 'btn btn-md btn-primary'

:javascript
  $(document).ready(function() {
    $('#month_picker').MonthPicker({ StartYear: #{year}, ShowIcon: false });
    $('input[type=month]').MonthPicker().css('backgroundColor', 'lightyellow');
  })
