=render 'sections/page_title', body_title: 'Welcome to Canada Post', body_subtitle: nil
.form-wrapper
  .container-fluid
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      =f.hidden_field :remember_me, value: true
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control", tabindex: 1
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: "form-control", tabindex: 1
      .form-group
        = f.submit "Sign in", class: "btn btn-block btn-lg btn-primary", tabindex: 1
      = link_to "Forgot your password?", new_password_path(resource_name), tabindex: 2
      - if devise_mapping.confirmable? && flash[:alert] == I18n.t('devise.failure.unconfirmed')
        .form-group
          = link_to "Can’t find confirmation email?", new_confirmation_path(resource_name), tabindex: 1
