.form-wrapper
  - unless available
    %h1= t('errors.region.calendars_generating')
  .col-md-12
    .form-wrapper
      %h5 Upload KML map

      = form_tag upload_zones_calendar_region_configs_path, multipart: true do
        .row.form-group
          = file_field_tag :file
          = hidden_field_tag :region_id, region_config.id

        .row.form-group
          = submit_tag 'Upload map'

  = form_for region_config, multipart: true do |f|
    .row
      .col-md-6
        .form-group
          - if region_config.id
            = f.label :region
            = f.text_field :region, class: "form-control", disabled: true
          - else
            *
            = f.label :region
            = f.text_field :region, class: "form-control"
    %hr
    .row
      .col-md-12
        .form-group
          = label_tag 'calendar_region_config[codes_file]', 'FSA Codes'
          = region_config.codes.to_sentence if region_config.codes
          %br
          = file_field_tag 'calendar_region_config[codes_file]'
    %hr
    .row
      .col-md-6
        .form-group
          = f.label :waste_pickup_url
          = f.text_field :waste_pickup_url, class: "form-control"
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Main page
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :front
          = CALENDAR_IMAGE_SIZE[:front]
          = f.file_field :front
          = image_tag region_config.front.url :thumb if region_config.front.url
      .col-md-4
        .form-group
          = f.label :fr_front
          = CALENDAR_IMAGE_SIZE[:front]
          = f.file_field :fr_front
          = image_tag region_config.fr_front.url :thumb if region_config.fr_front.url
    .row
      - if region_config.present?
        %a{"aria-controls" => "postalCodeCover", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#postalCodeCover", :role => "button"}
          %h3 Additional settings based on postal codes
        #postalCodeCover.collapse
          .row
            - region_config.postal_code_covers.each do |code_cover|
              %h4
                .col-md-2.col-md-offset-2
                  = code_cover.name
                .col-md-2
                  = link_to 'Edit', edit_calendar_postal_code_cover_path(code_cover.id)
                .col-md-2
                  = link_to 'Destroy', calendar_postal_code_cover_path(code_cover.id), method: :delete
          .row
            = link_to 'Add cover page setting', new_calendar_postal_code_cover_path(region_config_id: region_config.id), class: "btn btn-block btn-md btn-primary poi-submit"
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Letter page
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :front_left
          = CALENDAR_IMAGE_SIZE[:front_left]
          = f.file_field :front_left
          = image_tag region_config.front_left.url :thumb if region_config.front_left.url
      .col-md-4
        .form-group
          = f.label :fr_front_left
          = CALENDAR_IMAGE_SIZE[:front_left]
          = f.file_field :fr_front_left
          = image_tag region_config.fr_front_left.url :thumb if region_config.fr_front_left.url
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Above advertiser list
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :neighbourhood
          = CALENDAR_IMAGE_SIZE[:neighbourhood]
          = f.file_field :neighbourhood
          = image_tag region_config.neighbourhood.url :thumb if region_config.neighbourhood.url
      .col-md-4
        .form-group
          = f.label :fr_neighbourhood
          = CALENDAR_IMAGE_SIZE[:neighbourhood]
          = f.file_field :fr_neighbourhood
          = image_tag region_config.fr_neighbourhood.url :thumb if region_config.fr_neighbourhood.url
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Main last page
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :last_page
          = CALENDAR_IMAGE_SIZE[:last_page]
          = f.file_field :last_page
          = image_tag region_config.last_page.url :thumb if region_config.last_page.url
      .col-md-4
        .form-group
          = f.label :fr_last_page
          = CALENDAR_IMAGE_SIZE[:last_page]
          = f.file_field :fr_last_page
          = image_tag region_config.fr_last_page.url :thumb if region_config.fr_last_page.url
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Above anniversary month
    .row
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :anniversary
          = CALENDAR_IMAGE_SIZE[:anniversary]
          = f.file_field :anniversary
          = image_tag region_config.anniversary.url :thumb if region_config.anniversary.url
      .col-md-4
        .form-group
          = f.label :fr_anniversary
          = CALENDAR_IMAGE_SIZE[:anniversary]
          = f.file_field :fr_anniversary
          = image_tag region_config.fr_anniversary.url :thumb if region_config.fr_anniversary.url
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Main last page
      .col-md-5.col-md-offset-2
        .form-group
          = f.label :stamp
          = CALENDAR_IMAGE_SIZE[:stamp]
          = f.file_field :stamp
          = image_tag region_config.stamp.url :thumb if region_config.stamp.url
      .col-md-4
        .form-group
          = f.label :fr_stamp
          = CALENDAR_IMAGE_SIZE[:stamp]
          = f.file_field :fr_stamp
          = image_tag region_config.fr_stamp.url :thumb if region_config.fr_stamp.url
    %hr
    .row
      .col-md-5.col-md-offset-2
        %h4 Letter page
        .form-group
          = f.label :signature
          = CALENDAR_IMAGE_SIZE[:signature]
          = f.file_field :signature
          = image_tag region_config.signature.url :thumb if region_config.signature.url
    %hr
    - if region_config.months.present?
      - region_config.sorted_months.each do |month|
        = f.fields_for 'calendar_months[]', month do |m|
          .col-md-6
            .form-group
              .col-md-4
                = m.label :advertiser_id, Date::MONTHNAMES[month.month_number]
              .col-md-8
                = m.select :advertiser_id, options_from_collection_for_select(advertisers, 'id', 'name', month.advertiser_id), include_blank: ''
    %hr
    - if available
      .row
        .col-md-6.col-md-offset-3
          .form-group
            = f.submit "Save", class: "btn btn-block btn-lg btn-primary"
  %hr
  - if region_config.present?
    %h2 POI
    - Calendar::Location::POI_CATEGORIES.each do |category|
      = form_tag upload_pois_calendar_region_configs_path(region_config_id: region_config), method: :post, multipart: true do
        = hidden_field_tag :category, category
        .row
          .col-md-5
            %h4
              = category.humanize
              = " (#{region_config.locations.send(category.to_sym).count})"
            = label_tag :poi_file
            = file_field_tag :poi_file
          .col-md-3
            = submit_tag :save, class: "btn btn-block btn-md btn-primary poi-submit" if available
        .row
          %hr
    %h2 AdvertMap POI
    - Calendar::Location::ADVERTMAP_POI_CATEGORIES.each do |category|
      = form_tag upload_pois_calendar_region_configs_path(region_config_id: region_config), method: :post, multipart: true do
        = hidden_field_tag :category, category
        .row
          .col-md-5
            %h4
              = category.humanize
              = " (#{region_config.locations.send(category.to_sym).count})"
            = label_tag :poi_file
            = file_field_tag :poi_file
          .col-md-3
            = submit_tag :save, class: "btn btn-block btn-md btn-primary poi-submit" if available
        .row
          %hr

  - else
    %h2= t('errors.region.calendars_generating')
