.container
  .col-md-6.col-md-offset-3
    .row.pull-right
      = link_to new_calendar_region_config_path, class: 'btn btn-md btn-primary' do
        .glyphicon.glyphicon-plus
        Region Config

    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Status
          %th Actions
      %tbody
        - regions.each do |region|
          %tr
            %td= region.region
            %td= t("models.region_config.status.#{region.status}")
            %td
              = link_to edit_calendar_region_config_path(region), class: 'btn btn-sm btn-warning' do
                .glyphicon.glyphicon-pencil
              = link_to region.example_calendar, target: '_blank',  class: 'btn btn-sm btn-primary' do
                .glyphicon.glyphicon-eye-open
              - if region.status == 'to_refresh'
                = link_to calendar_refresh_calendar_path(region), method: :post, class: 'btn btn-sm btn-success' do
                  .glyphicon.glyphicon-refresh
              = link_to calendar_region_config_waste_disposal_zones_path(region), method: :get, class: 'btn btn-sm btn-success' do
                .garbage
              = link_to calendar_region_config_path(region.id), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }  do
                .glyphicon.glyphicon-remove
