body {
  font-family: "Fira Sans";
  color: #58595b;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.upside-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.canada-post-logo{
  position: absolute;
  right: 0px;
  top: -90px;
  width: 400px;
}

.page {
  position: relative;
  display: block;
  clear: both;
  page-break-after: always;
  width: $printed-width;
  height: $printed-height;
  /* important for phantom! */
  border: solid white 1px;
  overflow: hidden;
}

.half-page {
  height: $calendar-page-height;
  width: $calendar-page-width;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.whole_page{
  width: 100%;
  height: 100%;
}

.content {
  margin: $blank-height $blank-width $blank-height $blank-width;
  height: 5154px;
  width: $calendar-width;
  font-size: 0px;
}

.front-left-advert-container{
  float: left;
  position: relative;
}

.front-left-advert {
  width: 1205px;
  height: $calendar-page-height;
}

.front-text-container{
  margin-left: 170px;
  margin-right: 111px;
  margin-bottom: 215px;
  margin-top: 412px;
  width: 1810px;
  font-size: 49px;
  float: left;
  position: relative;
  line-height: 1.2;
  color: #535353;

  .sincerely{
    margin-bottom: 0px;
  }

  .full-name{
    text-transform: capitalize;
  }
}

.front-text-signature{
  width: 426px;
  height: 200px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  height: 100%; }

.last-page.address {
  position: absolute;
  bottom: 352px;
  left: 1335px;
  font-size: 55px;
  text-transform: uppercase;
}

.bottom-bar {
  background-color: #ed1c2e;
  display: table;
  height: 99px;
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.crop-line{
  position: absolute;
  background: black;
  margin: 0px;
  padding: 0px;
  z-index: -5;
  &.vertical-middle-left {
    top: $middle-bleeds-position;
    right: calc(#{$blank-width} - #{$bleed});
    width: $bleed;
    height: 2px;
  }

  &.vertical-middle-right {
    top: $middle-bleeds-position;
    left: calc(#{$blank-width} - #{$bleed});
    width: $bleed;
    height: 2px;
  }

  &.vertical-top-left {
    top: calc(#{$blank-height} + #{$bleed});
    left: calc(#{$blank-width} - #{$bleed});
    width: $bleed;
    height: 2px;
  }

  &.vertical-top-right {
    top: calc(#{$blank-height} + #{$bleed});
    right: calc(#{$blank-width} - #{$bleed});
    height: 2px;
    width: $bleed;
  }

  &.vertical-bottom-left {
    bottom: calc(#{$blank-height} + #{$bleed});
    left: calc(#{$blank-width} - #{$bleed});
    height: 2px;
    width: $bleed;
  }

  &.vertical-bottom-right {
    bottom: calc(#{$blank-height} + #{$bleed});
    right: calc(#{$blank-width} - #{$bleed});
    height: 2px;
    width: $bleed;
  }


  &.horizontal-top-left {
    top: calc(#{$blank-height} - #{$bleed});
    left: calc(#{$blank-width} + #{$bleed});
    height: $bleed;
    width: 2px;
  }

  &.horizontal-top-right {
    top: calc(#{$blank-height} - #{$bleed});
    right: calc(#{$blank-width} + #{$bleed});
    height: $bleed;
    width: 2px;
  }

  &.horizontal-bottom-left {
    bottom: calc(#{$blank-height} - #{$bleed});
    left: calc(#{$blank-width} + #{$bleed});
    height: $bleed;
    width: 2px;
  }

  &.horizontal-bottom-right {
    bottom: calc(#{$blank-height} - #{$bleed});
    right: calc(#{$blank-width} + #{$bleed});
    height: $bleed;
    width: 2px;
  }
}

.stamp{
  position: absolute;
  bottom: 645px;
  right: 160px;

  img{
    height: 337px;
    weight: 648px;
  }
}

.small-disclaimer{
  font-size: 24px;
  position: absolute;
  bottom: -450px;
  width: 1900px;

  .garbage_info{
    margin-bottom: -42px;
  }
}
.french-disclaimer {
  bottom: -675px;
}

.last_page_kit_id{
  bottom: 303px;
  right: 710px;
  height: 94px;
  position: absolute;
  font-size: 40px;
}

.page-barcode table.barby-barcode {
  border-spacing: 0;
  margin-left: 1765px;
  position: absolute;
  top: ($blank-height - 96px);
}
tr.barby-row {}
td.barby-cell { width: 2px; height: 94px; }
td.barby-cell.on { background: #000; }

.last_page_barcode table.barby-barcode {
  right: 180px;
  position: absolute;
  bottom: 358px;
  border-spacing: 0;
}

.bagbun-dmc{
  bottom: 521px;
  right: 960px;
  height: 94px;
  position: absolute;
  font-size: 25px;
}

.space-bagbun-dmc{
  margin: 7px
}
