$page-width: 3307px;
$page-height: 2539px;
$blank-width: 183.5px;
$blank-height: 195px;
$bleed: 38px;


$calendar-page-width: ($bleed * 2 + $page-width); // including bleeds
$calendar-page-height: ($bleed + $page-height); // including bleeds

$calendar-height: ($calendar-page-height * 2); // including bleeds
$calendar-width: $calendar-page-width; // including bleeds

$printed-width: ($calendar-width + ( $blank-width * 2));
$printed-height: ($calendar-height + ($blank-height * 2));

$middle-bleeds-position: $printed-height / 2;
