.civic-description{
  margin-top: 205px;
  margin-left: 135px;
  margin-right: 140px;
  width: 935px;
  height: 2215px;
  float: left;
  position: relative;
}

#civicMapContainer{
  width: 2169px;
  height: 2310px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.advert-title{
  font-weight: 500;
  text-transform: uppercase;
  color: #5a5b5d;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 135px;
  font-size: 70px;
}

.advert-column li{
  color: #ed1729;
  padding: 60px 40px 40px 40px;
  width: 650px;
  height: 220px;
}

.advert-text{
  line-height: 55px;
  padding-top: 0px;
  padding-left: 135px;
  border-top-style: dotted;
  border-width: 6px;
  border-color: #9FA09F;
}

.advert-icon-image img{
  position: absolute;
  margin-left: -85px;
}

.advert-li-text{
  color: #5a5b5d;
  font-size: 40px;
}

li.no-style {
    list-style-type: none;
}

.advert-name-with-pin{
  font-weight: 500;
  font-size: 45px;
  color: #ed1729;
}

.advert-website{
  text-transform: lowercase;
  font-weight: 500;
}

.advert-name-without-pin{
  font-weight: 500;
  font-size: 45px;
  color: #1b5092;
}

.advert-distance {
  font-style: italic;
}

.advert-column{
  font-size: 15px;
}

.column-1, .column-2, .column-3, .column-4{
  width: 780px;
  float: left;
  margin: 0;
}

.advert-blank-space{
  height: 400px;
}

#advertMapContainer{
  padding: 0px;
  margin: 0px;
  width: 3383px;
  height: 2380px;
  overflow: hidden;
}

.civic-header{
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 500;
}
.map-place-distance{
  text-transform: lowercase;
  font-style: italic;
}

.civic-text, .advert-text{
  font-size: 45px;
  text-transform: uppercase;
}

.civic-text ol {
  list-style: none;
}
.civic-item{
  padding-left: 0px;
}
.civic-item li{
  line-height: 1.2;
  padding-top: 33px;
  padding-bottom: 33px;
  border-top-style: dotted;
  border-top-color: #9FA09F;
  border-width: 7px;
}

.civic-place-name{
  color: #e40023;
  font-weight: 500;
}
.civic-place-name .title {
  margin: auto;
  width: 855px;
  float: right;
  margin-bottom: 5px;
}

.civicmap-description{
  margin-left: 79px;
  line-height: 62px;
}

.civic-place-name img{
  width: 66px;
  height: 99px;
  float: left;
}

.civic-garbage-collection-info{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: dotted;
  border-width: 7px;
  margin-left: 40px;
}

.civic-legend-container{
  padding: 30px;
  border-style: dotted;
  border-color: #9FA09F;
  border-width: 7px;
  font-size: 35px;
}
.civic-legend-container .icon-box{
  display: inline-block;
  width: 32%;
}
.civic-legend-container .icon-box.widther {
  width: 35%;
}

.civic-legend-container .icon-box.narrower {
  width: 30%;
}
.icon-box-row{
  margin-top: 30px;
}
.civic-legend-container .icon-box .icon {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 5px 10px 5px 5px;
}
.civic-legend-container .icon-box .icon img{
  width: 80px;
  height: 80px;
}
.civic-legend-container .icon-box .label {
  margin-top: 22px;
  width: 180%;
}

.park-color{
  background-color: #B6E59E;
}

.school-color{
  background-color: #F0E7BC;
}

.hospital-color{
  background-color: #F5D1DD;
}

.civic-map-disclaimer{
  margin-top: 10px;
  font-size: 26px;
  font-style: italic;
}

.civic-map-extra-disclaimer{
  margin-top: 10px;
  font-size: 26px;
  font-style: italic;
}

.advert-map-disclaimer{
  margin-top: 10px;
  font-size: 26px;
  font-style: italic;
  margin-left: 120px;
}

.pins-disclaimer{
  font-size: 40px;
  position: absolute;
  left: 120px;
  bottom: 40px;
}

.neighbours-image img{
  height: 1350px;
  width: $calendar-width;
}

.outside-map-info{
  font-style: italic;
  font-size: 36px;
  color: #5a5b5d;
  text-transform: none;
}
