.garbage-icons {
  width: 70px;
  right: 20px;
  height: 300px;
  position: absolute;
  top: 15px;
}

.garbage-icons .icon {
  float: right;
  position: relative;
  font-family: "calendar" !important;
  font-size: 40px;
  margin-top: 15px;
  vertical-align: text-bottom;
}

.garbage-icons .icon.garbage:before {
  color: #a49993;
  content: "\f100";
}

.garbage-icons .icon.recycling:before {
  color: #19a4e5;
  content: "\f106";
}

.garbage-icons .icon.christmas_tree:before {
  color: #b5c327;
  content: "\f102";
}

.garbage-icons .icon.yard_waste:before {
  color: #847466;
  content: "\f101";
}

.garbage-icons .icon.green_bin:before {
  color: #b5c327;
  content: "\f104";
}

.garbage-icons .icon.inactive {
  opacity: 0.4;
}

.month {
  margin-bottom: 168px;
}

.month .name {
  box-sizing: border-box;
  width: 100%;
  padding: 49px 0px 33px 150px;
  background-color: #ed1c2e;
  color: white;
  text-transform: uppercase;
  font-size: 84px;
}

.month-grid {
  display: table;
  margin-left: 155px;
  width: 3140px;
}

.month-grid .day-name {
  width: 439px;
  margin-bottom: 10px;
  text-transform: uppercase;
  float: left;
  position: relative;
  color: #58595b;
  font-size: 45px;
}

.month-grid .day {
  float: left;
  position: relative;
  width: 438px;
  height: 288px;
  border: 1px solid #a49993;
  border-collapse: collapse;
  margin: -1px -1px 0px 0px;
}

.month-grid .day .number {
  margin: 30px;
  color: #58595b;
  font-size: 35px;
}

.month-bottom-advert-left {
  vertical-align: bottom;
  display: inline-block;
  height: 480px;
  width: 1450px;
  margin-top: 50px;
  margin-left: 152px;
  border: 4px dotted #9FA09F;
  font-family: 'Fira Sans Condensed';
}

.month-bottom-advert-left-map {
  vertical-align: bottom;
  display: inline-block;
  height: 480px;
  width: 1450px;
  margin-top: 50px;
  margin-left: 152px;
  border: 4px dotted #9FA09F;
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed';
}

.month-bottom-advert-left-map .tiny-map .desc-cell {
  height: 480px;
  width: 960px;
  display: inline-block;
  font-size: 35px;
  vertical-align: text-top;
}

.month-bottom-advert-left-map .tiny-map .top-cell {
  height: 200px;
  width: 960px;
}

.month-bottom-advert-left-map .tiny-map .top-cell img {
  width: 100%;
  height: 100%;
}

.month-bottom-advert-left-map .tiny-map .bottom-cell {
  height: 280px;
  width: 960px;
  position: relative;
}

.month-bottom-advert-left-map .tiny-map .bottom-cell .cell {
  width: 58%;
  box-sizing: border-box;
  margin: 0px;
  display: inline-block;
  padding: 17px 0px 5px 37px;
  position: absolute;
}

.month-bottom-advert-left-map .tiny-map .bottom-cell .cell.right {
  width: 42%;
  right: 0px;
}

.month-bottom-advert-left-map .tiny-map .bottom-cell .cell .url {
  text-decoration: underline;
}

.month-bottom-advert-left-map .tiny-map .map-cell {
  width: 490px;
  height: 480px;
  display: inline-block;
  position: absolute;
  overflow: hidden
}

.month-bottom-advert-left-map .tiny-map .map-cell .map-container {
  position: absolute;
  width: 483px;
  height: 472px;
  padding: 0px;
  margin: 0px;
}

.tiny-address {
  font-size: 35px;
}

.tiny-address .logo {
  max-width: 480px;
  max-height: 200px;
  margin: auto;
}

.tiny-address .description {
  padding: 40px 0px 0px 40px;
  line-height: 45px
}

.month-bottom-advert-left img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.month-bottom-advert-right {
  margin-left: 100px;
  vertical-align: bottom;
  display: inline-block;
  height: 480px;
  width: 1555px;
  margin-top: 50px;
}

.grid {
  float: left;
  position: relative;
  height: 480px;
}

.grid.one_one_one {
  width: 33.33%;
}

.grid.one_two.one {
  width: 33.33%;
}

.grid.one_two.two {
  width: 66.66%;
}

.moving-date {
  position: absolute;
  z-index: 1;
  top: -55px;
  left: -15px;
  width: 498px;
  height: 426px;
}

.moving-date img{
  width: 100%;
  height: 100%;
}

.advertiser-event {
  font-size: 35px;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 330px;
  color: #B22222;
  text-transform: uppercase;
  font-weight: 500;
}

.advertiser-event-line {
  z-index: 2;
  left: 0px;
  top: 285px;
  position: absolute;
  height: 6px;
  width: 438px;
  background-color: #B22222;
}

.holiday {
  font-size: 35px;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 330px;
  color: #808285;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 500;
}

.holiday-line {
  z-index: 2;
  top: 285px;
  left: 0px;
  position: absolute;
  height: 6px;
  width: 438px;
  background-color: #808285;
  opacity: 0.6;
}
.anniversary {
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 15px;
  width: 336px;
  height: 95px;
}
.anniversary img{
  width: 100%;
  height: 100%;
}

.right-notes {
  width: 100%;
  height: 100%;
}
