%h3
  Calendars for
  %b= @report.file_name
  are generated.
%div
  Total count of generated calendars:
  %b= @report.calendars.count
%div
  Click here to visit URL:
  = link_to 'Calendars', "#{BASE_URL}/reports/#{@report.id}/calendars"
