#left_advert_1_image #left_advert_2_image #left_advert_3_image {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.advertiser-grid-preview {
  width: 378px;
  height: 120px;
  font-size: 0px;

  img{
    vertical-align: top;
    max-height: 120px;
    width: auto;
    height: auto;
  }
  .whole_page {
    max-width: 100%;
  }

  .one_third {
    max-width: 33%;
  }

  .two_third {
    max-width: 66%;
  }

  .none {
    display: none;
  }
}
