.form-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

#page-title {
  text-align: center;
}

.btn {
 margin-left: 5px;
}

.calendar-list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.week-picker-field {
  width: 185px;
  display: inline-block;
}

.upload-file-expand-area{
  display: none;
}

.button-margin{
  margin-top: 15px;
}

.chart-separator{
  margin-top: 50px;
}

.garbage:before{
  font-family: "calendar-icons" !important;
  content: "\f104";
}

.poi-submit{
  margin-top: 50px
}
