@font-face {
  font-family: 'calendar-icons';
  src: font-url("waste_icons.ttf") format("truetype");
}

input[type=checkbox].icon-checkbox { display: none }
input[type=checkbox].icon-checkbox + label .unchecked { display: inline }
input[type=checkbox].icon-checkbox + label .checked { display: none }
input[type=checkbox]:checked.icon-checkbox { display: none }
input[type=checkbox]:checked.icon-checkbox + label .unchecked { display: none }
input[type=checkbox]:checked.icon-checkbox + label .checked { display: inline }
input[type=submit].btn-primary { margin-top: 5px; }

.garbage-icons {
  font-family: 'calendar-icons' !important;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  label {
    font-weight: normal;
  }
  .icon {
    display: inline-block;
    cursor: pointer;
  }
  .icon.garbage:before {
    color: #a49993;
    content: "\f100";
  }
  .icon.recycling:before {
    color: #b5c327;
    content: "\f106";
  }
  .icon.christmas_tree:before {
    color: #b5c327;
    content: "\f102";
  }
  .icon.yard_waste:before {
    color: #b5c327;
    content: "\f101";
  }
  .icon.green_bin:before {
    color: #b5c327;
    content: "\f104";
  }
  .icon.inactive {
    opacity: 0.3;
  }
}

.month-selector {
  color: #58595b;
  display: inline-block;
  margin-left: 5px;
}

.day-name {
  float: left;
  position: relative;
  width: 14.25%;
  font-size: 15px;
  color: #58595b;
  margin-bottom: 5px;
}

.day {
  float: left;
  position: relative;
  width: 14.25%;
  border: 1px solid #ccc;
  margin: -1px -1px 0px 0px;
  .number {
    margin: 15px;
    color: #58595b;
    font-size: 15px;
  }
}

.well h4 { margin-bottom: 25px; }
