= form_for advertiser, multipart: true do |f|
  .form-wrapper
    .container-fluid
      .row
        .col-md-6
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control"
        .col-md-6
          .form-group
            = f.label :hide_on_map
            %br
            = f.check_box :hide_on_map
      %hr
      .row
        .form-group
          .col-md-6
            = f.label :cover_advert
            = CALENDAR_IMAGE_SIZE[:cover_advert]
            = f.file_field :cover_advert
            = image_tag advertiser.cover_advert.url :thumb if advertiser.cover_advert.present?

          .col-md-6
            = f.label :fr_cover_advert
            = CALENDAR_IMAGE_SIZE[:cover_advert]
            = f.file_field :fr_cover_advert
            = image_tag advertiser.fr_cover_advert.url :thumb if advertiser.fr_cover_advert.present?

      %hr
      = f.label :tiny_map
      = f.check_box :tiny_map
      %hr
      .left-advert-tiny-map{style: "#{'display: none;' unless advertiser.tiny_map}"}
        .row
          .form-group
            .col-md-6
              = f.label :logo
              = CALENDAR_IMAGE_SIZE[:logo]
              = f.file_field :logo
              = image_tag advertiser.logo.url :thumb if advertiser.logo.present?

      .left-advert-images{style: "#{'display: none;' if advertiser.tiny_map}"}
        .form-group
          = f.label :grid
          = CALENDAR_IMAGE_SIZE[:left_advert_grid]
          = f.select :grid, Calendar::Advertiser.grids.map {|key,value| [key.humanize,value]}, selected: advertiser.grid_value, class: "form-control"
        .row
          .col-md-6
            Preview
        .advertiser-grid-preview
          %img{id: 'left_advert_1_image', src: advertiser.left_advert_1, class: AdvertiserGrid.left_advert_1_image_style(advertiser.grid)}
          %img{id: 'left_advert_2_image', src: advertiser.left_advert_2, class: AdvertiserGrid.left_advert_2_image_style(advertiser.grid)}
          %img{id: 'left_advert_3_image', src: advertiser.left_advert_3, class: AdvertiserGrid.left_advert_3_image_style(advertiser.grid)}
        #left_advert_1
          %hr
          = f.label :tiny_address
          = f.check_box :tiny_address
          .tiny-address-box{style: "#{'display: none;' unless advertiser.tiny_address}"}
            = f.label :tiny_address_logo
            = CALENDAR_IMAGE_SIZE[:tiny_address_logo]
            = f.file_field :tiny_address_logo
            = image_tag advertiser.tiny_address_logo.url :thumb if advertiser.tiny_address_logo.present?
          .left-advert-box{style: "#{'display: none;' if advertiser.tiny_address}"}
            .row
              .form-group
                .col-md-6
                  = f.label :left_advert_1
                  = f.file_field :left_advert_1
                  = image_tag advertiser.left_advert_1.url :thumb if advertiser.left_advert_1.present?
                .col-md-6
                  = f.label :fr_left_advert_1
                  = f.file_field :fr_left_advert_1
                  = image_tag advertiser.fr_left_advert_1.url :thumb if advertiser.fr_left_advert_1.present?

        #left_advert_2{style: "#{'display: none;' unless advertiser.grid || advertiser.grid == 'whole_page'}"}
          %hr
          .row
            .form-group
              .col-md-6
                = f.label :left_advert_2
                = f.file_field :left_advert_2
                = image_tag advertiser.left_advert_2.url :thumb if advertiser.left_advert_2.present?
              .col-md-6
                = f.label :fr_left_advert_2
                = f.file_field :fr_left_advert_2
                = image_tag advertiser.fr_left_advert_2.url :thumb if advertiser.fr_left_advert_2.present?

        #left_advert_3{style: "#{'display: none;' if advertiser.grid.nil? || !advertiser.grid == '1:1:1'}"}
          %hr
          .row
            .form-group
              .col-md-6
                = f.label :left_advert_3
                = f.file_field :left_advert_3
                = image_tag advertiser.left_advert_3.url :thumb if advertiser.left_advert_3.present?
              .col-md-6
                = f.label :fr_left_advert_3
                = f.file_field :fr_left_advert_3
                = image_tag advertiser.fr_left_advert_3.url :thumb if advertiser.fr_left_advert_3.present?

      %hr
      .row
        .form-group
          .col-xs-6
            = f.label :right_advert
            = CALENDAR_IMAGE_SIZE[:right_advert]
            = f.file_field :right_advert
            - if advertiser.right_advert.present?
              = label_tag 'calendar_advertiser[remove_right_advert]', 'Change advert to default?'
              = check_box_tag 'calendar_advertiser[remove_right_advert]'
          .col-xs-6
            - if advertiser.right_advert.present?
              = image_tag advertiser.right_advert.url :thumb
            -else
              = image_tag '/calendar/images/notes.png', width: 150
      %hr
      .row
        .col-md-10
          .form-group
            = label_tag 'Locations file (it will replace all current locations)'
            = file_field_tag 'calendar_advertiser[locations_file]'
      .form-group
        = f.submit "Save", class: "btn btn-block btn-lg btn-primary"
  .row
    .col-md-12
      .form-group
        %b Locations:
        - advertiser.locations.each do |loc|
          .row
            .col-md-3
              = loc.name
            .col-md-5
              = loc.street_address
            .col-md-4
              = loc.latitude
              = loc.longitude
          %hr


:javascript
  $(document).ready(function(){
    $('#calendar_advertiser_tiny_map').click(function() {
      $('.left-advert-images').toggle( 'display' )
      $('.left-advert-tiny-map').toggle( 'display' )
    });
    $('#calendar_advertiser_tiny_address').click(function() {
      $('.left-advert-box').toggle( 'display' )
      $('.tiny-address-box').toggle( 'display' )
    });
    advertiser_images_preview();
    advertiser_grids_preview();
  });
