.modal.fade{id: "#{modal_id}", role: 'dialog', tabindex: '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4.modal-title Report errors
      .modal-body
        %table.table.table-hover
          %thead
            %tr
              %th Record Id
              %th Errors
          %tbody
            - errors.each do |error|
              %tr
                %td= error.row
                %td= error.message
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
