.container
  .row
    - if report.working? || report.zip_generating?
      .btn.btn-md.btn-primary.disabled
        Working . . .
    - else
      =link_to zip_calendars_path(report.id), class: 'btn btn-md btn-primary' do
        - if report.zip_path
          .glyphicon.glyphicon-plus
          Download Zip
        - else
          .glyphicon.glyphicon-plus
          Zip calendars
    - if skip_pagination
      = link_to 'Paginate', calendars_index_path(id: report.id, skip_pagination: nil), class: 'btn btn-md btn-primary'
    - else
      = link_to 'Show all', calendars_index_path(id: report.id, skip_pagination: true), class: 'btn btn-md btn-primary'
  .row.calendar-list
    - calendars.each do |calendar|
      %div
        = link_to "Calendar_#{calendar.path.split("/").last.split("-").first}", calendar.path, target: '_blank'
  - unless skip_pagination
    .row.pull-left
      %div= page_entries_info calendars
      %div= will_paginate calendars, renderer: BootstrapPagination::Rails
