.container
  = form_tag movers_reports_path, method: :get do
    .week-picker-field
      = text_field_tag :week, "#{start_date}-#{end_date}", id: 'weekpicker', class: 'form-control'
    = submit_tag 'Week Filter', class: 'btn btn-primary btn-md'
  - if movers_reports.empty?
    %h2 No reports in this week
  - else
    %table.table.table-hover
      %thead
        %tr
          %th Date
          %th File name
          %th Total records
          %th Parsed records
          %th Records Invalid
          %th Location Invalid
          %th Map Generation Invalid
          %th Stauts
          %th Actions
      %tbody
        - movers_reports.each do |report|
          %tr
            %td= report.date
            %td= report.file_name
            %td= report.total_records
            %td= report.parsed_count
            %td
              = report.invalid_records.count
              - if report.invalid_records.count.between?(1, 100)
                %button.btn.btn-info.btn-xs{'data-target': "#invalid-records-#{report.id}", 'data-toggle': 'modal', type: 'button'}
                  Details
                = render 'reports/errors_modal', modal_id: "invalid-records-#{report.id}", errors: report.invalid_records
            %td
              = report.invalid_locations.count
              - if report.invalid_locations.count.between?(1, 100)
                %button.btn.btn-info.btn-xs{'data-target': "#invalid-locations-#{report.id}", 'data-toggle': 'modal', type: 'button'}
                  Details
                = render 'reports/errors_modal', modal_id: "invalid-locations-#{report.id}", errors: report.invalid_locations
            %td
              = report.map_generation.count
              - if report.map_generation.count.between?(1, 100)
                %button.btn.btn-info.btn-xs{'data-target': "#map_generation_error-#{report.id}", 'data-toggle': 'modal', type: 'button'}
                  Details
                = render 'reports/errors_modal', modal_id: "map_generation_error-#{report.id}", errors: report.map_generation
            %td= report.status.humanize
            %td
              - if report.working?
                = link_to cancel_movers_generator_path(report), method: :post, class: 'btn btn-danger btn-sm' do
                  Cancel
              = link_to csv_errors_path(report, format: :csv), class: 'btn btn-success btn-sm' do
                .glyphicon.glyphicon-download
                Csv
              - if report.calendars.present?
                = link_to calendars_index_path(report.id), class: 'btn btn-primary btn-sm' do
                  .glyphicon.glyphicon-list
