!!!
%html
  %head
    %title CanadaPost
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      = render 'partials/navbar'
      = render 'partials/alert'
    %main
      = yield
