!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Calendar
    = stylesheet_link_tag    'calendar', media: 'all'
    %script{:src => "https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js"}
    %link{:href => "https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css", :rel => "stylesheet"}/
    = javascript_include_tag 'calendar'
  %body
    = yield
